<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | KERIS App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="bg-brown py-5 p-5 mt-5">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center">
            <h1 class="text-white text-center">Temukan Event dan Berita Seputar Seni Disini</h1>
          </div>
          <div class="col-md-6">
            <custom-carousel></custom-carousel>
          </div>
        </div>
      </div>
      <div class="img-fluid background-batik-custom">
        <div></div>
      </div>
      <div class="container mt-5 p-0">
        <div class="column">
          <div class="col-md-12 p-5 position-relative shadow rounded mt-5 mb-5">
            <div class="py-2">
              <h2>Event__________</h2>
              <div class="row mx-auto" id="event-list-container">
                <!-- content for the "Event" section goes here -->
              </div>
            </div>
            <div class="position-absolute bottom-0 end-0 mb-3 mx-3">
              <a href="" class="btn btn-brown-white flex-end">Selanjutnya.. <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
          <div id="event-detail-container">
            <!-- content for the "Event Detail" section goes here -->
          </div>
          <div class="col-md-12 p-5 position-relative shadow rounded mt-5 mb-5">
            <div class="py-2">
              <h2 class="">News__________</h2>
              <div class="row mx-auto" id="news-list-container">
                <!-- content for the "News" section goes here -->
              </div>
            </div>
            <div class="position-absolute bottom-0 end-0 mb-3 mx-3">
              <a href="" class="btn btn-brown-white flex-end">Selanjutnya.. <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-brown">
      <footer-app></footer-app>
    </footer>
    <!-- Event Detail Modal -->
    <div class="modal fade" id="eventDetailModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5)">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventDetailModalLabel">Event Detail</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true" class="bi bi-x-square-fill"></span>
            </button>
          </div>
          <div class="modal-body" id="eventDetailContainer">
            <!-- Detail event -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
