<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | KERIS App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>
 
    <main>
        <div class="background-custom py-5 p-5 mt-5">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center">
              <h1 class="text-white text-center">Temukan Event dan Berita Seputar Seni Disini</h1>
            </div>
            <div class="col-md-6">
              <custom-carousel></custom-carousel>
            </div>
          </div>
        </div>      
        <div class="img-fluid background-batik-custom">
          <div></div>
        </div>
        <div class="container mt-5">
          <div class="column">
            <div class="col-md-12">
              <div class="py-2">
                <h2>Event__________</h2>
                <div class="row" id="event-list-container">
                  <!-- content for the "Event" section goes here -->
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <div class="py-2">
                <h2 class="">News__________</h2>
                <div class="row" id="news-list-container">
                  <!-- content for the "News" section goes here -->
                </div>
              </div>
            </div>
          </div>
        </div>             
        
    </main>
 
    <footer>
      <div class="main-footer background-custom">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>

</html>