<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image" href="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Ficon-keris.png?alt=media&token=052e6e5b-87c2-4158-9d44-e4ca9921e0cf" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#61422e"/>
    <title><%= htmlWebpackPlugin.options.title %> | KERIS App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 55px">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Pusat Bantuan
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Tutorial Penggunaan
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-login-register-tab" data-bs-toggle="pill" data-bs-target="#pills-login-register" type="button" role="tab" aria-controls="pills-login-register" aria-selected="true">Login Register</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-gallery-tab" data-bs-toggle="pill" data-bs-target="#pills-gallery" type="button" role="tab" aria-controls="pills-gallery" aria-selected="false">Melihat Galeri Seni</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review" type="button" role="tab" aria-controls="pills-review" aria-selected="false">Review Galeri Seni</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-news-tab" data-bs-toggle="pill" data-bs-target="#pills-news" type="button" role="tab" aria-controls="pills-news" aria-selected="false">Melihat Event dan News</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-calendar-tab" data-bs-toggle="pill" data-bs-target="#pills-calendar" type="button" role="tab" aria-controls="pills-calendar" aria-selected="false">Melihat Jadwal Event</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login-register" role="tabpanel" aria-labelledby="pills-login-register-tab" tabindex="0">
                  <h5> Cara Login</h5>
                  <ol>
                    <li> klik Masuk yang berada di pojok kanan atas </li>
                    <li> Masukkan Email yang telah terdaftar </li>
                    <li> Masukkan Password </li>
                    <li> Klik Masuk </li>
                  </ol>
                  <h5> Cara Register</h5>
                  <ol>
                    <li> klik Masuk yang berada di pojok kanan atas </li>
                    <li> klik Mendaftar </li>
                    <li> Masukkan Email </li>
                    <li> Masukkan password (minimal 6 karakter) </li>
                    <li> Klik Daftar </li>
                  </ol>
                </div>
                <div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab" tabindex="0">
                  <h5> Melihat Galeri Seni</h5>
                  <ol>
                    <li> klik Menu yang ada di Navbar <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Fmenu.png?alt=media&token=57a4ed0d-9688-4df4-af54-7b7882241b49" style="width: 50px"> </li>
                    <li> Klik Galeri Seni </li>
                    <li> Untuk Melihat kategori seni > </li>
                    <li> Klik dropdown Kategori yang ada dipojok kiri atas <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2F1.dp.png?alt=media&token=02e8e60e-28ba-4027-8ab7-32361fc70d40" style="width: 50px" </li>
                    <li> Untuk Melihat informasi lebih banyak > </li>
                    <li> Klik Read more > Detail Galeri Seni </li>
                  </ol></div>
                <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab" tabindex="0"> 
                  <h5> Review Galeri Seni</h5>
                  <ol>
                    <li> Masuk kehalaman detail Galeri Seni </li>
                    <li> Scroll kepaling bawah > </li>
                    <li> Tulis Ulasan > jika belum login, lakukan login terlebih dahulu </li>
                    <li> jika sudah login </li>
                    <li> Tuliskan Nama > Tuliskan Ulasan </li>
                    <li> Kirim </li>
                  </ol></div>
                <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab" tabindex="0">
                  <h5> Melihat Event dan News</h5>
                  <ol>
                    <li> klik Menu yang ada di Navbar <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Fmenu.png?alt=media&token=57a4ed0d-9688-4df4-af54-7b7882241b49" style="width: 50px"></li>
                    <li> Klik News </li>
                    <li> Event > Read More <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2F1.rm.png?alt=media&token=777bac3c-c34e-48b1-916f-f099f8c26889" style="width: 55px"></li>
                    <li>Menampilkan Detail Event</li>
                    <li> News > Read More > <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2F1.rm.png?alt=media&token=777bac3c-c34e-48b1-916f-f099f8c26889" style="width: 55px"></li>
                    <li> Pindah ke Halaman News </li>
                  </ol></div>
                <div class="tab-pane fade" id="pills-calendar" role="tabpanel" aria-labelledby="pills-calendar-tab" tabindex="0">
                  <h5> Melihat Kalender Budaya</h5>
                  <ol> 
                  <li> klik Menu yang ada di Navbar <img src= "https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Fmenu.png?alt=media&token=57a4ed0d-9688-4df4-af54-7b7882241b49" style="width: 50px"></li>
                  <li> Kalender Budaya </li>
                  <li> Klik pada tanggal yang memiliki kegiatan  <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2F1.kb.png?alt=media&token=3a2ff03b-fb0e-4425-ad53-d960889a8c6b"  style="width: 50px"> </li>
                  <li> Detail informasi kegiatan seni </li>
                </ol></div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Hubungi Kami
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-brown">
      <footer-app></footer-app>
    </footer>
  </body>
</html>
