<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image" href="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Ficon-keris.png?alt=media&token=052e6e5b-87c2-4158-9d44-e4ca9921e0cf" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="../public/public/app.webmanifest" />
    <meta name="theme-color" content="#61422e" />
    <title><%= htmlWebpackPlugin.options.title %> | KERIS App</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-to-content" tabindex="0" id="skipLink">Skip To Content</a>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>
    <main style="margin-top: 55px" id="maincontent">
      <hero-app></hero-app>
      <div id="all-about-here" class="img-fluid background-batik-custom"></div>
      <explore-section></explore-section>
      <div class="container py-6">
        <div class="content-wrapper mt-5">
          <keris-desc></keris-desc>
        </div>
      </div>
      <div id="about-us" class="img-fluid background-batik-custom"></div>
      <about-us></about-us>
    </main>
    <footer class="bg-brown">
      <footer-app></footer-app>
    </footer>
  </body>
</html>
