<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | KERIS App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="main-content mt-5">
        <div class="container py-5">
          <div class="content-wrapper">
            <div class="text-column">
              <!-- Deskripsi Tulisan -->
              <div class="description">
                <h3 class="mb-3">Jelajahi Galeri Seni Tradisional Indonesia Bersama KERIS !</h3>
                <p>Temukan keindahan tak terbatas dari berbagai seni tradisional Indonesia dan rasakan cerita unik dari setiap karya yang menunggu untuk kamu ketahui. Tunggu apa lagi?</p>
                <button type="button" class="btn btn-mulai">Mulai</button>
              </div>
            </div>

            <!-- Gambar lp -->
            <div class="image-column">
              <div class="lp">
                <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Flp.1.png?alt=media&token=f5352feb-7553-4909-802d-fdd2b30bafb7" alt="lp" />
              </div>
            </div>
          </div>
        </div>

        <div class="img-fluid background-batik-custom">
          <div></div>
        </div>

        <div class="text-center mt-4">
          <h3 class="mb-3">Apa Yang Bisa Kamu Temukan Disini ?</h3>
          <p>Eksplorasi beragam karya seni yang telah diciptakan oleh pengrajin seni dari berbagai wilayah di Indonesia melalui platform ini.</p>
        </div>

        <div class="container d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 260px">
            <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fgaleri%20seni.svg?alt=media&token=6316ef74-cac0-407b-83d0-957076cc1472" alt="card" />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Galeri Seni</h5>
              <p class="card-text">Fitur yang dapat digunakan oleh Seniman untuk pamerkan karya & sumber info bagi penggemar."</p>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 260px">
            <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fcalendar%20budaya.png?alt=media&token=92d54119-c894-43d7-8c9d-cf74b71425a2" alt="card" />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Kalender Budaya</h5>
              <p class="card-text">Fitur yang digunakan untuk mengakses informasi jadwal acara seni yang akan dilaksanakan."</p>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 260px">
            <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2FNews.png?alt=media&token=302776bf-bf47-4761-89f0-fd9a98760ebd" alt="card" />
            <div class="card-body text-center">
              <h5 class="card-title mb-0">News</h5>
              <p class="card-text">Fitur yang menyajikan informasi berita dan event terkini seputar karya seni."</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-5">
        <div class="content-wrapper">
          <div class="text-column">
            <!-- Deskripsi Tulisan -->
            <div class="description">
              <h3 class="mb-3">Apa Itu KERIS ?</h3>
              <p>
                KERIS adalah sebuah website yang didedikasikan untuk mempromosikan dan melestarikan keberagaman seni dan budaya tradisional Indonesia. Kami menciptakan platform ini sebagai jawaban terhadap tantangan yang dihadapi oleh
                seniman dan penggemar seni tradisional. Melalui fitur-fitur seperti "GaleriSeni," "DetailSeni," dan "ReviewKarya," kami membuka ruang bagi seniman untuk memamerkan karyanya, memberikan informasi rinci, dan menerima umpan
                balik dari penggemar. Fitur "PustakaIlmu" dan "KalenderBudaya" bertujuan memberikan informasi dan meningkatkan pengetahuan masyarakat tentang seni tradisional yang belum dikenal. Bergabunglah dengan kami dalam menjaga dan
                menghargai kekayaan budaya Indonesia melalui KERIS (KolEksi keRajInan Seni tradisional).
              </p>
            </div>
          </div>

          <!-- Gambar lp -->
          <div class="image-column">
            <div class="lp">
              <img src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2FQuestions-pana.png?alt=media&token=e6686d89-0708-48cb-b68d-4f9f24b6d584" alt="lp" />
            </div>
          </div>
        </div>
      </div>

      <div class="img-fluid background-batik-custom">
        <div></div>
      </div>

      <div class="text-center mt-4">
        <h3 class="mb-3">About-Us</h3>
        <p>Mari Mengenal Lebih Jauh dengan Para Developer KERIS !!</p>
        <p>Ketuk Salah satu social media nya untuk mengetahui lebih lanjut</p>
      </div>

      <!-- Wanda -->
      <div class="card-img" style="max-width: 200px">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fman.png?alt=media&token=3e1619e7-e194-4c8d-adb4-4ab6d10dbf4c" alt="Card image" />
        <div class="card-body" style="padding: 10px">
          <h6 class="card-title" style="font-size: 14px; margin-bottom: 5px">Wanda Putra Ramadhan</h6>
          <p class="card-text" style="font-size: 12px; margin-bottom: 5px">Front End Developer</p>
          <a href="#" class="btn btn-primary btn-sm" style="font-size: 10px; padding: 5px 10px">See Profile</a>
        </div>
      </div>

      <div class="card-img" style="max-width: 200px">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fwoman.png?alt=media&token=ee6c64cd-5fb4-44dd-bd2b-63b3b2425028" alt="Card image" />
        <div class="card-body" style="padding: 10px">
          <h6 class="card-title" style="font-size: 14px; margin-bottom: 5px">Kamania D.M</h6>
          <p class="card-text" style="font-size: 12px; margin-bottom: 5px">Front End Developer</p>
          <a href="#" class="btn btn-primary btn-sm" style="font-size: 10px; padding: 5px 10px">See Profile</a>
        </div>
      </div>

      <div class="card-img" style="max-width: 200px">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fwoman.png?alt=media&token=ee6c64cd-5fb4-44dd-bd2b-63b3b2425028" alt="Card image" />
        <div class="card-body" style="padding: 10px">
          <h6 class="card-title" style="font-size: 14px; margin-bottom: 5px">Ika Triyana</h6>
          <p class="card-text" style="font-size: 12px; margin-bottom: 5px">Front End Developer</p>
          <a href="#" class="btn btn-primary btn-sm" style="font-size: 10px; padding: 5px 10px">See Profile</a>
        </div>
      </div>

      <div class="card-img" style="max-width: 200px">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fwoman.png?alt=media&token=ee6c64cd-5fb4-44dd-bd2b-63b3b2425028" alt="Card image" />
        <div class="card-body" style="padding: 10px">
          <h6 class="card-title" style="font-size: 14px; margin-bottom: 5px">Noorhani</h6>
          <p class="card-text" style="font-size: 12px; margin-bottom: 5px">Front End Developer</p>
          <a href="#" class="btn btn-primary btn-sm" style="font-size: 10px; padding: 5px 10px">See Profile</a>
        </div>
      </div>

      <div class="card-img" style="max-width: 200px">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/keris-api.appspot.com/o/images%2Filustration-landingpage%2Fwoman.png?alt=media&token=ee6c64cd-5fb4-44dd-bd2b-63b3b2425028" alt="Card image" />
        <div class="card-body" style="padding: 10px">
          <h6 class="card-title" style="font-size: 14px; margin-bottom: 5px">Hajiria Tandawali</h6>
          <p class="card-text" style="font-size: 12px; margin-bottom: 5px">Front End Developer</p>
          <a href="#" class="btn btn-primary btn-sm" style="font-size: 10px; padding: 5px 10px">See Profile</a>
        </div>
      </div>
    </main>

    <footer class="bg-brown">
      <footer-app></footer-app>
    </footer>
  </body>
</html>
